* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
/*.tabs {
  position: relative;
  margin: 3rem 0;
  background: white;
  height: 14.75rem;
  width:100%;
  border-color: black;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #838b89;
  border-right: 15px solid transparent;
   color: #000000;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
  border: solid;
  border-color: black;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: 35rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  border-top: 0.10rem solid #bdc3c7;
  border-left: 0.10rem solid #bdc3c7;
  border-right: 0.10rem solid #bdc3c7;
  border-color: black;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #000;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;}*/

.fieldset_tabs {
  position: relative;
  border: solid;
  padding: 1rem;
  border-radius:5px;
  height:470px;
  overflow: auto;

}

/*.fieldset_tabs h1 {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1;
  margin: -9px 0 0 -0.5rem; !* half of font-size up top *!
  background: #fff;
  padding: 0 0.5rem;}*/

.fieldset_tabs p{
      text-align: left;
      font-size: 75%

}
.fieldset_tabs ul{
      text-align: left;
      font-size: 75%
}

.fieldset_tabss {
  position: relative;
  border: solid;
  padding: 1rem;
  border-radius:5px;
  height:200px;
}

.fieldset_tabss h1 {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1;
  margin: -9px 0 0 -0.5rem; /* half of font-size up top */
  background: #fff;
  padding: 0 0.5rem;
}
.fieldset_tabss p{
      text-align: left;
}

.colu:after{
  content: "";
  display: table;
  clear: both;
}

.colu_1{
  float: left;
  padding: 10px;
  width: 33.33%;
}
.colu_50{
  float: left;
  padding: 10px;
  width: 50%;
}
.colu_2{
  float: left;
  padding: 10px;
  width: 22%;
}
.colu_22{
  float: left;
  padding: 10px;
  width: 34%;
  font-size: 85%
}

left, right {
  width: 40%;
}

middle {
  width: 20%;
}


.btne {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 2em;
  border-radius: 50%;
  /*border: solid;*/
  background-color: #cecdcd;
  color: black;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  bottom: 10%;
  right: 4%;
  }

#btn6{

}
#btn7{

}

.nav-tabs .nav-item .nav-link {
  background-color: #FFFFFF;
  border-color: lightgray;
  color: lightgray;
}

.nav-tabs .nav-item .nav-link.active {
  color: black;
  border-color: black;
  background-color: #cfcfcf;
}

.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .disruption { background-color: red; }
.legend .no_outage { background-color: green; }
.legend .confidence_break_point { background-color: Orange; }



